---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectPost from '../components/ProjectPost.astro';
interface MarkdownPost {
  url: string;
  frontmatter: {
    id: number;
    title: string;
    dates: string;
    type: string;
    language: string;
  };
}
const allPosts = Object.values(import.meta.glob<MarkdownPost>('../pages/posts/*.md', { eager: true }));
const sortedPosts = allPosts.sort((a, b) => b.frontmatter.id - a.frontmatter.id);
const pageTitle = "";
---
<BaseLayout pageTitle={pageTitle}>
    <h1 class="page-title">Projects</h1>
    <div class="pt-lg">
    {sortedPosts.map(post => 
        <ProjectPost 
            url={post.url} 
            title={post.frontmatter.title} 
            dates={post.frontmatter.dates} 
            type={post.frontmatter.type} 
            language={post.frontmatter.language}
        />)}
    </div>
</BaseLayout>