---
const { title, url, dates, type, language } = Astro.props;
---
<div class="custom-row">
    <div class="dim custom-column custom-col-1">{dates}</div>
    <div class="dim custom-column custom-col-2">{type}</div>
    <div class="dim custom-column custom-col-3">{language}</div>
    <div class="custom-column custom-col-4"><a href={url}>{title}</a></div>
</div>