---
const { title, url, dates, type, language } = Astro.props;
---
<div class="projects-row">
    <div class="projects-column projects-col-1">{dates}</div>
    <div class="projects-column projects-col-2">{type}</div>
    <div class="projects-column projects-col-3">{language}</div>
    <div class="projects-column projects-col-4"><a href={url}>{title}</a></div>
</div>